<!-- blog/templates/blog/about.html -->
{% extends 'blog/base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <div class="container">
        <h1>Sobre Nosotros</h1>
        <p>Bienvenido a la página "Sobre Nosotros" de nuestro blog. Aquí, compartimos información sobre los creadores y el proyecto en sí.</p>
        
        <h2>Sobre los Creadores</h2>
        <p>Nuestro blog es desarrollado y mantenido por un equipo de personas apasionadas dedicadas a crear una plataforma para compartir contenido valioso. Cada miembro de nuestro equipo aporta habilidades y experiencias únicas al proyecto, contribuyendo a su crecimiento y éxito.</p>

        <h2>Sobre el Blog</h2>
        <p>Este blog sirve como un espacio donde compartimos ideas, historias y conocimientos sobre diversos temas. Nuestro objetivo es proporcionar contenido atractivo e informativo que resuene con nuestros lectores. Ya sea que estés aquí para leer las publicaciones más recientes o para contribuir con la tuya propia, esperamos que encuentres valor en lo que ofrecemos.</p>
    </div>
{% endblock %}
