/* main.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.home-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para asegurarte de que no haya desplazamiento inesperado */
}

.home-image-container img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
    border-radius: 5px; /* Agrega un poco de borde redondeado */
}
